.title {
  min-height: 96vh;
  background-color: #f5f5f5;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 5rem;
}

.tech {
  max-width: 1250px;
  margin: 0 auto;
}

.image {
  overflow: hidden;
  width: 35%;
}

.image img {
  display: block;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1260px) {
  .image {
    overflow: hidden;
    width: auto;
  }
}
@media screen and (max-width: 992px) {
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .links {
    display: block;
  }
  .title {
    min-height: 96vh;
  }
}

@media screen and (max-width: 576px) {
  .avatar {
    height: 160px;
  }
  .education {
    min-height: 100vh;
  }
  .title {
    min-height: 100vh;
  }
}
