.about,
.education {
  background-color: #f5f5f5;
}

.education {
  min-height: 80vh;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
  margin-bottom: 7rem;
}

.grid {
  margin: 0 auto 5rem auto;
  max-width: 52rem;
  display: grid;
  grid-template-columns: 24rem 24rem;
  grid-row: auto auto;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 992px) {
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .links {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .avatar {
    height: 160px;
  }
  .education {
    min-height: 100vh;
  }
}
