.header {
  text-align: left;
}

.header h1 {
  font-size: 3.6rem;
  margin-bottom: 1.5rem;
}

.video {
  width: 100%;
  height: 65vh;
  background-color: #f7f5f7;
  filter: brightness(70%);
}

.video video {
  width: 100%;
  height: 100%;
}

.filled {
  color: white;
  margin-right: 1rem;
}

.outlined {
  background-color: transparent;
}

.techstack {
  min-height: 30vh;
  max-width: 1450px;
  margin: 0 auto;
}

.techstack div {
  margin: 1rem;
  min-width: 20rem;
}

@media screen and (max-width: 1292px) {
  .techstack {
    flex-direction: column;
  }
  .video {
    height: 55vh;
  }
}

@media screen and (max-width: 992px) {
  .header {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .video {
    height: 45vh;
  }
}

@media screen and (max-width: 576px) {
  .video {
    height: 35vh;
  }
}
