.main {
  padding: 5rem;
  width: 50%;
}

.header {
  padding: 0;
}

.return {
  color: var(--sub-text-color);
  letter-spacing: 3.5px;
  font-size: 1.3rem;
}

.video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
  width: 50%;
}

.video video {
  position: absolute;
  top: 18.4%;
}

.project {
  min-height: 96vh;
}

.project article {
  margin-bottom: 0;
}

.links {
  margin-top: 5rem;
}
.links li {
  margin-top: 0.7rem;
}

.seelinks {
  color: #898989;
  font-size: 1.4rem;
  font-weight: 600;
}

@media screen and (max-width: 1292px) {
  .techstack {
    flex-direction: column;
  }
  .video {
    height: 55vh;
  }
}

@media screen and (max-width: 992px) {
  .header {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .video {
    height: 45vh;
  }
}

@media screen and (max-width: 576px) {
  .video {
    height: 35vh;
  }
}
