.main {
  padding: 4rem;
  width: 50%;
  min-height: 96vh;
  position: relative;
}

.main h2 {
  margin-bottom: 0rem;
}

.main p {
  margin-bottom: 0rem;
}

.header {
  padding: 0;
}

.return {
  color: var(--sub-text-color);
  letter-spacing: 3.5px;
  font-size: 1.3rem;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 96vh;
  overflow: hidden;
}

.monitor {
  position: relative;
  width: 80%;
}

.monitor img {
  width: 100%;
}

.monitor video {
  background: black;
  width: 92.1%;
  top: 4.5%;
  left: 3.9%;
  position: absolute;
}

.project {
  min-height: 96vh;
}

.project article {
  margin-bottom: 0;
}

.links {
  position: absolute;
  bottom: 3%;
  left: 70px;
}
.links li {
  display: inline-block;
  margin: 1rem;
}

.seelinks {
  color: #898989;
  font-size: 1.4rem;
  font-weight: 600;
}

@media screen and (max-width: 1590px) {
  .main h2 {
    font-size: 2.4rem;
  }
  .main p {
    font-size: 1.1rem;
  }
  .main h4 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1260px) {
  .main {
    width: 100%;
    text-align: center;
    min-height: 0;
    padding: 3rem;
  }
  .main article {
    max-width: 100%;
    margin-top: 4rem;
  }
  .video {
    width: 100%;
    min-height: 0vh;
  }
  .links {
    position: static;
    margin: 4rem 0;
  }
  .links li {
    margin: 2rem;
  }
  .main h2 {
    font-size: 3rem;
  }
  .main p {
    font-size: 1.3rem;
  }
  .main h4 {
    margin-top: 4rem;
  }
}
