.round {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #e9984f;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.timeline {
  max-width: 38rem;
  margin: 5rem auto;
}
