.stat {
  padding: 2rem;
  max-width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.stat img {
  width: 50%;
}

.value {
  background-color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  font-family: "Odibee Sans", cursive;
  font-size: 28px;
  color: #3a302d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}

.title {
  color: #3a302d;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.separator {
  width: 80%;
  height: 3px;
  background-color: #e9984f;
  border-radius: 3px;
  margin-bottom: 1.8rem;
}
