.separator {
  margin: 4rem 0;
  background-color: #e9984f;
  max-width: 500px;
  height: 4px;
  border-radius: 4px;
}

@media screen and (max-width: 1260px) {
  .separator {
    margin: 4rem auto;
  }
}

@media screen and (max-width: 576px) {
  .separator {
    margin: 3rem auto;
    max-width: 100px;
  }
}
