.list {
  list-style: none;
  display: flex;
  margin-top: 2rem;
}

.list {
  margin-bottom: 8vh;
}

.list li {
  margin-right: 4rem;
}

@media screen and (max-width: 992px) {
  .global {
    margin-bottom: 4rem;
  }
  .list {
    margin-bottom: 3rem;
    flex-direction: column;
    text-align: center;
  }
  .list li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
