.global,
.list {
  list-style: none;
  display: flex;
  margin-top: 2rem;
}

.list {
  margin-bottom: 8vh;
}

.global li {
  font-size: 2rem;
  color: #e9984f;
}

.global li:hover {
  color: #898989 !important;
}

.list li,
.global li {
  margin-right: 4rem;
}

@media screen and (max-width: 992px) {
  .home {
    display: none;
  }
  .global {
    margin-bottom: 4rem;
  }
  .list {
    margin-bottom: 3rem;
  }
}
