.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e9984f;
  font-size: 3rem;
  padding: 1.5rem;
  min-width: 23rem;
}

@media screen and (max-width: 576px) {
  .card {
    min-width: 26rem;
  }
  .card img {
    height: 40px;
  }
}
