.tech {
  display: inline-block;
  min-width: 20rem;
  margin: 1.5rem;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e9984f;
  font-size: 3rem;
  padding: 1.5rem;
  min-width: 28rem;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .tech {
    font-size: 12px;
  }
  .card {
    min-width: 23rem;
  }
  .card img {
    height: 40px;
  }
}
