@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

:root {
  --main-title-color: #3a302d;
  --sub-text-color: #898989;
  --sub-color: #e9984f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1,
h2,
h5 {
  color: var(--main-title-color);
}

h1 {
  font-weight: 700;
  font-size: 7.5vh;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 3px;
}

h3 {
  font-family: "Source Code Pro", monospace;
  color: var(--sub-color);
  font-size: 5vh;
}

h4 {
  color: var(--sub-color);
  font-weight: 700;
  font-size: 2.3vh;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

h5 {
  color: var(--main-title-color);
  font-weight: normal;
  font-size: 1.3rem;
}

h6 {
  color: var(--sub-color);
  font-size: 1.2rem;
  font-weight: normal;
  text-align: left;
}

p {
  font-weight: 300;
  color: var(--sub-text-color);
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--sub-color);
}

nav a,
footer a {
  text-decoration: none;
  color: var(--sub-text-color);
}

a:hover {
  color: #e28c40;
  transition: 0.2s ease-in;
}

blockquote {
  color: var(--sub-text-color);
  font-style: italic;
  font-size: 1.6rem;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}

section {
  margin: 2vh;
}

article h1 {
  margin-bottom: 4vh;
}
article {
  max-width: 1050px;
  margin: auto;
  padding: 8vh 0 4vh 0;
}

.horizontal-separator {
  height: 1px;
  width: 160px;
  background-color: #d9d9d9;
  margin: 0 auto 5vh auto;
}

#title {
  height: 96vh;
}

small {
  font-size: 1.1rem;
  color: #b0b0b0;
  font-weight: 300;
  letter-spacing: 2px;
}

ul {
  list-style: none;
}

.mt-4 {
  margin-top: 1.5rem;
}

li {
  color: var(--sub-text-color);
  font-size: 1.2rem;
}

a {
  font-weight: 300;
  cursor: pointer;
}

.bg-light {
  background-color: #f5f5f5;
  height: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-image {
  display: flex;
  justify-content: center;
}

.anticon {
  color: var(--sub-text-color);
}

.pb-final {
  padding-bottom: 8vh;
}

.mb-1 {
  margin-bottom: 0.8rem;
}

footer {
  color: var(--sub-text-color);
  font-weight: 300;
  letter-spacing: 0.6rem;
  font-size: 1.3rem;
  padding: 2rem 5rem;
}

footer ul {
  display: flex;
  align-items: center;
}

footer .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--sub-text-color);
  margin: 0.5rem 1.5rem;
}

.mail-icon {
  background-color: white;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
  border: 2px solid var(--sub-color);
}

.hex-images {
  max-width: 1100px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--sub-text-color);
  border-radius: 12px;
  border: 2px solid #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-title-color);
}

@media screen and (max-width: 1590px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .flex-between {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-margin {
    margin-top: 0;
  }
  h1 {
    font-size: 5.4vh;
  }
  h3 {
    font-size: 3.5vh;
  }
  footer div{
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .flex-center {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  section {
    margin: 0;
    margin-bottom: 2vh;
  }
  .bg-light {
    padding: 2vh;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  h1 {
    margin-bottom: 2vh;
  }
  h3 {
    font-size: 2.5vh;
  }
  #title {
    height: auto;
  }
  #title p {
    padding-bottom: 5rem;
  }
  footer ul{
    flex-direction: column;
  }
  article{
    padding: 4vh 0;
  }
}
