@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --main-title-color: #3a302d;
  --sub-text-color: #898989;
  --sub-color: #e9984f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1,
h2,
p,
li {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  color: var(--main-title-color);
}

h1 {
  font-weight: 700;
  font-size: 4.4rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-weight: 600;
}

h3 {
  font-family: "Source Code Pro", monospace;
  color: var(--sub-color);
  font-size: 2rem;
}

p,
li {
  font-weight: 300;
  color: var(--sub-text-color);
  font-size: 1.3rem;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: var(--sub-color);
}

section,
header {
  padding: 1rem;
}
